---
language: node_js
node_js:
  - "0.12"

sudo: false

cache:
  directories:
    - node_modules

env:
  - EMBER_TRY_SCENARIO=ember-data-2.0
  - EMBER_TRY_SCENARIO=ember-data-2.1
  - EMBER_TRY_SCENARIO=ember-data-2.2
  - EMBER_TRY_SCENARIO=ember-data-2.3
  - EMBER_TRY_SCENARIO=ember-release
  - EMBER_TRY_SCENARIO=ember-beta
  - EMBER_TRY_SCENARIO=ember-canary

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-release
    - env: EMBER_TRY_SCENARIO=ember-beta
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  # After travis-ci/travis-ci#3225 is resolved, restore this and remove the
  # manual download/install of PhantomJS 2.0.
  # - export PATH=/usr/local/phantomjs-2.0.0/bin:$PATH
  - mkdir 'phantomjs-2.0.0'
  - cd 'phantomjs-2.0.0'
  - curl -O 'https://s3.amazonaws.com/travis-phantomjs/phantomjs-2.0.0-ubuntu-12.04.tar.bz2'
  - tar xjvf 'phantomjs-2.0.0-ubuntu-12.04.tar.bz2'
  - cd -
  - export PATH=./phantomjs-2.0.0:$PATH

  - "npm config set spin false"
  - "npm install -g npm@^2"

install:
  - npm install -g bower
  - npm install
  - bower install

script:
  - ember try $EMBER_TRY_SCENARIO test
